*{
	margin:0;
	padding:0;
}
html, body, main{
	width:100%;
	height:100%;
}
html, button{
	font: 16px/1.5 'Oswald', sans-serif;
	text-transform: uppercase;
	color:#CCC;
}
html{
	overflow:hidden;
}
main{
	background:#333;
}
#dialog_box{
	position:absolute;
	z-index:3;
	top: 50%;
	margin-top: -52.5px;
	width: 100%;
	padding: 15px 0;
	overflow:hidden;
	text-align: center;
	background:#000;
	background:rgba(0, 0, 0, .7);
}
#dialog_box .container{
	position: relative;
	display: inline-block;
}
#dialog_box .container p{
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	font-weight: bold;
}
#dialog_box .container .buttons{
	margin-top: 5px;
	height: 30px;
	line-height: 30px;	
	text-align: right;
}
#dialog_box button{
	display:inline-block;
	margin-left:10px;
	width:100px;
	height:30px;
	border: 1px solid #333;
	line-height:28px;
	font-size:18px;
	background: transparent;
}
#dialog_box button:hover{
	background:#333;
}
#dialog_box button:active{
	border-color: #666;
	background:#666;
}
#dialog_box .cancel{
	display: none;
}
#dialog_box.show_cancel .cancel{
	display: inline-block;
}
#game_info{
	position: absolute;
	top:0;
	left:0;
	padding:18px;
	opacity:0;
	font-size: 24px;
	line-height: 24px;
}
#game_info span{
	display: inline-block;
	width: 27px;
	text-align: center;
}
#game_info .label{
	margin: 0 5px;
	width: auto;
}
.cursor, .mostra_cursor{
	background:#009B58;
	border-radius:50px;
	position:absolute;
}
.cursor{
	opacity: 0;
	z-index:2;
	transition: opacity .25s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
main.playing .cursor{
	opacity: 1;
}
.mostra_cursor{
	background:#CF3B29;
}
.bounce{
	z-index:1;
	position:absolute;
	border-radius:10px;
	background-color:#FFB502;
	transition:background-color .5s;
	-moz-transition:background-color .5s;
	-webkit-transition:background-color .5s;
}
body.invincible .bounce{
	background-color: #166BEC !important;
}
.alvo{
	z-index:0;
	position:absolute;
	background:#FFB502;
	box-shadow:0 0 6px #FFB502;
	border-radius:40px;
	width:0;
	height:0;
}